* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

a,
button,
textarea,
input {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.white-button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.white-button:hover {
  background-color: rgb(249, 250, 251);
}

.white-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.white-button:focus-visible {
  box-shadow: none;
}
/* 입력 바 '|' 제거, 마우스 드래그 방지*/
.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.color-red {
  color: #f38181;
}

.color-blue {
  color: #47b5ff;
}

.color-green {
  color: #76ba99;
}

.vibration {
  animation: vibrationEffect 100ms infinite;
}

@keyframes vibrationEffect {
  from {
    top: 0;
    right: 0;
  }

  to {
    left: 2px;
    bottom: 2px;
  }
}
